$textColorDark: #1c315b;

.button {
  background: transparent;
  border: 2px solid $textColorDark;
  padding: 10px;
  color: $textColorDark;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;

  svg {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .button {
    padding: 10px;
    height: 46px;
    width: 46px;

    svg {
      font-size: 20px;
    }
  }
}
