.FeatureCard {
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-flow: column wrap;
  background-color: white;
  color: #1c315b;
  width: 620px;
  height: 520px;
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  .image {
    display: flex;
    overflow: hidden;
    height: 180px;
    justify-content: center;
    align-items: center;
    img {
      height: auto;
      width: 100%;
    }
  }

  .header {
    display: flex;
    height: 60px;
    background-color: #b2cfae;
    font-weight: bold;
    h3 {
      align-self: center;
      margin-left: 30px;
      font-size: 21px;
    }
  }

  .description {
    height: 160px;
    background-color: white;

    p {
      margin: 30px 30px;
      font-size: 21px;
      line-height: 1.75em;
    }
  }

  .footer {
    height: 120px;
    background-color: rgba(238, 238, 238, 0.5);

    ul {
      justify-content: center;
      margin: 10px 30px;
      padding: 0;
      height: 100%;
      column-count: 2;
      list-style-image: url('../../img/greenBullet.svg');
      list-style-position: inside;
      font-size: 18px;
      line-height: 2em;
    }
  }
}
