.FeatureCard {
  text-decoration: none;
  transition: transform 0.2s;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  color: #1c315b;
  width: 620px;
  height: 550px;
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  .image {
    display: flex;
    overflow: hidden;
    height: 190px;
    justify-content: center;
    align-items: center;
    img {
      height: auto;
      width: 100%;
    }
  }

  .header {
    display: flex;
    height: 60px;
    background-color: #b2cfae;
    font-weight: bold;
    h4 {
      align-self: center;
      margin-left: 30px;
      font-size: 2.1rem;
    }
  }

  .description {
    height: 170px;
    background-color: white;

    p {
      margin: 0;
      padding: 30px 30px;
      font-size: 21px;
      line-height: 1.75em;
    }
  }

  .footer {
    display: flex;
    height: 130px;
    background-color: #f7f7f7;

    ul {
      align-self: center;
      margin: 0px 30px;
      padding: 0;
      column-count: 2;
      list-style-image: url('../../img/greenBullet.svg');
      list-style-position: inside;
      font-size: 18px;
      line-height: 2em;

      li {
        margin-right: 100px;
      }
    }
  }
}
