.FeatureCard {
  display: flex;
  flex-flow: column wrap;
  background-color: lightgrey;
  width: 620px;
  height: 520px;
  margin: 20px;

  .image {
    display: flex;
    overflow: hidden;
    height: 180px;
    justify-content: center;
    align-items: center;
    img {
      margin-top: -20%;
      height: auto;
      width: 100%;
    }
  }

  .header {
    height: 50px;
    background-image: url('/img/ansattkortHeader.png');
  }

  .description {
    height: 145px;
    background-color: white;
  }

  .footer {
    height: 145px;
    background-color: lightblue;
  }
}
