@import '../../layouts/variables';

.EmployeeCard {
  display: grid;
  grid-template-areas:
    'image header'
    'image  description';
  grid-template-columns: 140px 425px;
  grid-template-rows: 100px 100px;
  width: 565px;
  transition: 0.3s;
  color: white;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.13);
  margin-bottom: 64px;

  .imageContainer {
    width: 100%;
    height: 200px;
    grid-area: image;
    object-fit: cover;
  }

  .header {
    position: relative;
    grid-area: header;
    display: grid;
    grid-template-areas:
      'name icon'
      'title icon';
    grid-template-columns: 70% 30%;

    .headerBackground {
      position: absolute !important;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-color: $darkBlue; // Fallback if background pattern doesn't load

      img {
        height: 500% !important;
        width: 500% !important;
      }
    }
  }

  .description {
    grid-area: description;
    justify-self: start;
    align-self: center;
  }

  figure {
    display: grid;
    grid-area: icon;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    grid-area: name;
    align-self: end;
  }

  h4 {
    font-size: 1.125rem;
    grid-area: title;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3,
  h4 {
    text-align: left;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    color: $darkBlue;
    margin: 0 20px;
    font-size: 1rem;
  }
}

@media (max-width: 565px) {
  .EmployeeCard {
    grid-template-columns: auto;
    grid-template-rows: 400px 135px 150px;
    grid-template-areas:
      'image'
      'header'
      'description';

    .imageContainer {
      width: 100%;
      height: 400px;
      grid-area: image;
      object-fit: cover;
    }
  }
}
