extends ../layouts/default

block content
  .post.image
    .container
      .row
        if data.post.image.exists
          .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
        - if (data.post.slug === 'ir-webmoduler') {
          .col-lg-12.text-center
            button.btn.btn-oms-lg Demo
            button.btn.btn-oms-main-lg Bestill 
        - } 
  .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2(style="height:100%;")
    script(type='text/javascript').
      function resize_iframe() {
        var height = window.innerWidth; //Firefox
        
        if (document.body.clientHeight) {
          height = document.body.clientHeight;//IE
        }
        //resize the iframe according to the size of the
        //window (all these should be on the same line)
        document.getElementById("IR-demo").style.height = parseInt(height +
        document.getElementById("IR-demo").offsetTop + 15) + "px";
      }
    article
      if !data.post
        h2 Invalid Post.
      else
        header
          h1= data.post.title
          if data.post.author
            | by #{data.post.author.name.first}
          != data.post.content.full
    - if (data.post.slug === 'ir-webmoduler') {
      iframe(id="IR-demo", height="100%", width="100%", onload="resize_iframe()", scrolling="no", src="http://ir.asp.manamind.com/irn/portal/main?key=pho_irn&lang=en", style="border: 0px;") 
    - }
  