@import '../../layouts/variables';

.button {
  background-color: $vibrantBlue;
  text-align: center;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $XXS;
  color: $antiFlashWhite;

  svg {
    font-size: 19px;
    margin-left: 10px;
  }
}

.button,
.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
}

.button:hover {
  background-color: $primaryButtonHover;
  cursor: pointer;
}

@media (max-width: 414px) {
  .button {
    width: 100%;
  }
}
