.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-areas:
    'intro'
    'description'
    'featurecards';
  grid-template-rows: 750px 250px auto;

  .intro {
    grid-area: intro;
    background-color: rgb(90, 90, 255);
  }

  .description {
    grid-area: description;
    background-color: grey;
  }

  .featureCards {
    display: flex;
    background-color: lightcoral;
    flex-flow: row wrap;
    justify-content: center;
  }
}
