.aboutPage {
  max-width: 90%;
  margin: 80px auto 0 auto;

  .aboutOms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    article {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 16px;
    }

    img {
      width: 100%;
      height: 100%;
      margin-bottom: 16px;
    }
  }

  .aboutEmployees {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.aboutPage > section {
  margin: 64px 0;
}

.aboutPage > section > h2 {
  margin: 0 0 16px;
}

@media (min-width: 1024px) {
  .aboutPage {
    max-width: 1864px;
    padding: 0 32px;
    margin: 80px auto 0 auto;

    .aboutOms {
      article {
        width: 45%;
      }

      img {
        width: 45%;
      }
    }
  }

  .aboutPage > section {
    margin: 275px 0;
  }
}

@media (min-width: 1194px) {
  .aboutPage {
    .aboutEmployees {
      justify-content: space-around;
    }
  }
}

@media (min-width: 1759px) {
  .aboutPage {
    .aboutEmployees {
      justify-content: space-between;
    }
  }
}
