.aboutPage {
  max-width: 90%;
  margin: 112px auto 0 auto;

  .aboutOms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 16px;
    }

    .imageContainer {
      width: 100%;
      height: 100%;
    }
  }

  .aboutEmployees {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.aboutPage > section {
  padding: 32px 0;
}

.aboutPage > section > h2 {
  margin: 0 0 16px;
}

@media (min-width: 1024px) {
  .aboutPage {
    max-width: 1864px;
    padding: 0 32px;

    .aboutOms {
      p {
        width: 45%;
      }

      .imageContainer {
        width: 45%;
      }
    }
  }

  .aboutPage > section {
    padding: 138px 0 138px;
  }

  .aboutPage > section:first-of-type {
    padding-top: 275px;
  }

  .aboutPage > section:last-of-type {
    padding-bottom: 275px;
  }
}

@media (min-width: 1194px) {
  .aboutPage {
    .aboutEmployees {
      justify-content: space-around;
    }
  }
}

@media (min-width: 1759px) {
  .aboutPage {
    .aboutEmployees {
      justify-content: space-between;
    }
  }
}
