@import '../../layouts/variables';

.aboutPage {
  grid-template-rows: max-content max-content max-content max-content;

  .hero {
    position: relative;
    color: $antiFlashWhite;
    grid-column: $full;
    grid-row: 1;
    display: grid;
    grid-column-gap: $gridColumnGap;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: 250px max-content;
    min-height: 750px;

    .textContainer {
      grid-row: 2;
      grid-column: 3 / span 6;
      h1 {
        width: 80%;
        margin: auto;
        text-align: center;
      }

      h1 + p {
        padding: $XXL 0;
      }
    }

    .backgroundImage {
      margin-top: 64px;
      position: absolute;
      z-index: -1;
      height: 750px;
      width: 100%;
      grid-column: $full;
      grid-row: 1 / span 2;
      background-color: $darkBlue;

      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($darkBlue, 0.7);
      }
    }
  }

  .history {
    grid-column: 1 / span 10;
    grid-row: 2;
    background-color: $antiFlashWhite;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: max-content 100px;
    grid-column-gap: 16px;

    .textContainer {
      margin-top: $XXL;
      grid-column: 3 / span 6;
      grid-row: 1;

      p:first-of-type {
        grid-column: 3;
        grid-row: 2;
        width: 156px;
        padding-bottom: $M;
        margin-bottom: $XS;
        border-bottom: 2px solid $vibrantBlue;
      }

      h2 {
        margin-top: $S;
      }

      h2 + p {
        padding: $L 0;
      }
    }
  }

  .aboutEmployees {
    grid-column: 1 / span 10;
    grid-row: 3;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: 100px max-content max-content max-content 100px;
    grid-column-gap: 16px;

    .textContainer {
      grid-column: 2 / span 6;
      grid-row: 1;
      margin-top: $XXL;

      // overline
      p:first-of-type {
        width: 156px;
        padding-bottom: $M;
        margin-bottom: $XS;
        border-bottom: 2px solid $vibrantBlue;
      }

      h2 {
        margin-top: $S;
      }
    }

    .employeeWrapper {
      grid-column: $full;
      grid-row: 4;
      display: flex;
      flex-flow: row wrap;
      -ms-grid-column-align: center;
      justify-self: center;
      margin: $XL -16px 0 -14px;
      max-width: 1170px;

      .quoteWrapper {
        margin: 16px;
        padding-right: $M;
        height: 300px;
        width: 736px;
        text-align: right;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        h2 {
          width: 70%;
          align-self: flex-end;
        }
      }
    }
  }

  .joinTheTeam {
    grid-column: 2 / span 8;
    grid-row: 4;
    padding-bottom: 100px;

    a {
      max-width: 273px;
    }
  }
}

@media (max-width: 1172px) {
  .aboutPage {
    .aboutEmployees {
      .textContainer {
        grid-column: 3 / span 6;
      }

      .employeeWrapper {
        max-width: 780px;

        .quoteWrapper {
          width: 350px;

          h2 {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutPage {
    .hero {
      color: $textColor;
      grid-template-rows: 564px max-content;

      .textContainer {
        margin-top: $XXL;
        h1 {
          width: 100%;
          text-align: left;
        }

        h1 + p {
          padding-top: $M;
        }
      }

      .backgroundImage {
        height: 500px;

        &:before {
          display: none;
        }
      }
    }
    .aboutEmployees {
      .employeeWrapper {
        grid-column: 1 / span 10;
      }
    }
  }
}

@media (max-width: 814px) {
  .aboutPage {
    .aboutEmployees {
      .employeeWrapper {
        max-width: 684px;

        .quoteWrapper {
          width: 310px;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .aboutPage {
    .aboutEmployees {
      .employeeWrapper {
        max-width: 375px;

        .quoteWrapper {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .aboutPage {
    .hero,
    .history,
    .aboutEmployees {
      .textContainer {
        grid-column: 2 / span 8;
      }
    }

    .hero {
      grid-template-rows: 538px max-content;
      .backgroundImage {
        margin-top: 38px;
      }
    }

    .aboutEmployees {
      .employeeWrapper {
        max-width: 800px;
        justify-content: space-around;
      }
    }
  }
}
