@import '../../layouts/variables';

.aboutPage {
  .aboutOms {
    color: $textColor;
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 220px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end row4-start] 120px
      [row4-end];
    grid-column-gap: 16px;

    h1 {
      grid-column: 2 / span 8;
      grid-row: row1;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 8;
      grid-row: row2;
    }

    .imageContainer {
      grid-column: 2 / span 8;
      grid-row: row3;
      width: 100%;
      margin: 0 auto;
      box-shadow: $newBoxShadow;
    }
  }

  .aboutEmployees {
    background-color: $antiFlashWhite;
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 100px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end];
    grid-column-gap: 16px;
    padding-bottom: 100px;

    .employeeWrapper {
      grid-column: full;
      grid-row: row2;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin: $XL auto 0 auto;
      max-width: 1762px;
    }

    h1 {
      grid-column: 2 / span 8;
      grid-row: row1;
      width: 100%;
    }
  }
}
