@import '../../layouts/variables';

.responsibleDisclosurePage {
  section {
    padding: 32px 0;
  }

  section:last-of-type {
    padding-bottom: 64px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin: 1em 0px 1em 0px;
    padding-left: 40px;
  }

  li {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 1rem;
    font-weight: $thin;
    line-height: 1.5rem;
    letter-spacing: -0.3px;
  }

  p {
    display: block;
    margin: 1em 0px 1em 0px;
  }

  h2 {
    margin: 0 0 16px;
  }

  .left {
    margin: 200px 0;
    grid-column: 2 / span 5;
    width: 100%;
  }

  .right {
    margin: 200px 0;
    grid-column: 7 / span 4;
    width: 100%;
  }
}

@media (max-width: 1520px) {
  .responsibleDisclosurePage {
    .right {
      grid-column: 7 / span 3;
    }
  }
}

@media (max-width: 1300px) {
  .responsibleDisclosurePage {
    .right {
      grid-column: 2 / span 8;
      margin-top: 0;
    }

    .left {
      grid-column: 3 / span 6;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 580px) {
  .responsibleDisclosurePage {
    .right {
      margin-bottom: 30px;
    }

    .left {
      margin-top: 100px;
      grid-column: 2 / span 8;
    }
  }
}
