@import '../../layouts/variables';

.productCard {
  display: grid;
  grid-template-areas:
    'header image'
    'description image'
    'button image';
  grid-template-columns: 60% 40%;
  grid-template-rows: 100px 350px 50px;
  background-color: #212121;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  .imageContainer {
    grid-area: image;
  }

  .header {
    padding: 40px;
    grid-area: header;
    font-weight: bold;
    h3 {
      width: 240px;
      border-bottom: solid #0071eb;
      padding-bottom: 10px;
    }
  }

  .description {
    grid-area: description;

    p {
      margin: 0;
      padding: 30px 40px;
    }
  }

  .button {
    grid-area: button;
    color: white;
    background-color: #0071eb;
    width: 150px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 10px;
  }
}
