@import '../../layouts/variables';

.ProductCard {
  display: grid;
  grid-template-areas:
    'header image'
    'description image'
    'footer footer';
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 300px 200px;

  text-decoration: none;
  background-color: white;
  color: $darkBlue;
  width: 80%;
  height: 700px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

  .image {
    grid-area: image;
    overflow: hidden;
    height: 100%;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .header {
    grid-area: header;
    display: flex;
    height: 200px;
    font-weight: bold;
    h3 {
      align-self: flex-start;
      margin-left: 50px;
      font-size: 36px;
      color: $darkBlue;
      border-bottom: solid green;
    }
  }

  .description {
    grid-area: description;
    height: 300px;
    background-color: white;

    p {
      margin: 0;
      padding: 30px 50px;
      font-size: 21px;
      line-height: 1.75em;
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    height: 200px;
    background-color: #f7f7f7;

    ul {
      align-self: center;
      margin: 0px 30px;
      padding: 0;
      column-count: 2;
      list-style-image: url('../../img/greenBullet.svg');
      list-style-position: inside;
      font-size: 18px;
      line-height: 2em;

      li {
        margin-right: 100px;
      }
    }
  }
}
