.container {
  overflow: hidden;
}

.oneYearGraph {
  background: $white;
  margin-bottom: -50px;
  height: 100%;
  width: 100%;

  stroke-dasharray: 5000;
  animation: dash 5s linear;
  animation-fill-mode: forwards;

  @keyframes dash {
    from {
      stroke-dashoffset: 5000;
    }
    to {
      stroke-dashoffset: 10000;
    }
  }
}
