@import '../../layouts/variables';

.linkCard {
  margin: 16px;
  position: relative;
  background-color: $white;
  width: 358px;
  padding: $XL $L;
  border-radius: $S;
  box-shadow: $newBoxShadow;

  a {
    text-decoration: none;
    color: $textColor;
  }

  &:hover {
    transform: scale(1.08);
    cursor: pointer;
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $lightBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $vibrantBlue;
    font-size: 28px;
    font-weight: bold;

    svg {
      font-size: 42px;
    }
  }
  .iconWrapper {
    display: inline-block;
  }
  h3 {
    display: inline-block;
    color: $grey;
    text-align: center;
    padding-left: $M;
  }

  p {
    height: 75px;
    margin: $L 0 60px 0;
  }

  ul {
    column-count: 2;
    list-style-type: none;
    line-height: 2.5;
    margin-bottom: 54px;

    svg {
      margin-right: $XXS;
      font-size: 18px;
      color: $lapisLazuli;
    }
  }

  .link {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    color: $vibrantBlue;
    text-decoration: none;
    padding: $M $L;
    border-top: 1px solid $antiFlashWhite;
    border-bottom-left-radius: $S;
    border-bottom-right-radius: $S;

    svg {
      font-size: 14px;
      margin-left: 2px;
    }
  }
  .link:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt #80b9fd;
  }

  .mobileLink {
    display: none;

    .iconWrapper,
    h3 {
      padding: 0;
      width: 100%;
    }
    .iconWrapper {
      margin-bottom: 16px;
    }
    .icon {
      margin: 0 auto;
    }
  }
}

div.dark {
  background-color: $darkBlue;

  .icon {
    background-color: $lapisLazuli;
    color: $white;
  }

  h3 {
    color: $antiFlashWhite;
  }

  p {
    color: $antiFlashWhite;
  }

  .link {
    border-color: $lapisLazuli;
    color: $selectiveYellow;
  }
}

@media (max-width: 814px) {
  .linkCard {
    background-color: transparent;
    box-shadow: none;
    width: 246px;

    .header {
      display: none;
    }

    p {
      display: none;
    }

    .link {
      display: none;
    }
    .mobileLink {
      display: block;
    }
  }

  div.dark {
    background-color: transparent;
    .icon {
      background-color: $lightBlue;
      color: $vibrantBlue;
    }

    h3 {
      color: initial;
    }
  }
}

@media (max-width: 594px) {
  .linkCard {
    padding: 0;
    margin: 16px 0;
  }
}

@media (max-width: 522px) {
  .linkCard {
    margin: 16px;
    width: 136px;
  }
}
