@import '../../layouts/variables';

.linkCard {
}

.sticky {
  display: flex;
  flex-flow: row wrap;
  background: none;
  border: 2px solid $darkBlue;
  padding: 0;
  color: $darkBlue;
  height: 100px;
  width: 300px;
  justify-content: center;
  cursor: pointer;

  h4 {
    font-size: 18px;
    margin: auto;
  }

  .imageContainer,
  p {
    display: none;
  }
}

.notSticky {
  display: flex;
  flex-flow: row wrap;
  background: none;
  border: none;
  outline: solid 2px $darkBlue;
  padding: 0;
  margin: 20px;
  color: $darkBlue;
  height: 100px;
  width: 400px;
  cursor: pointer;
  text-align: left;
  &:hover {
    background-color: $darkBlue;
    color: $white;
  }

  .imageContainer {
    width: 150px;
    height: 100px;
  }

  .textContainer {
    h4 {
      padding-left: 20px;
      font-size: 24px;
    }
  }
}
