/* Very temporary css */

.homePage {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1c315b;
  color: white;

  .animation {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .scrollButton {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      left: 50%;
      margin: 0px -25px;
      background-color: white;
      border-radius: 50px;
      text-align: center;
      svg {
        color: #b2cfae;
        margin-top: 10px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(0.99);
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  .configurationLogos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    background-color: white;

    img {
      height: 100%;
    }
  }

  .featuredCase {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 1500px;
    width: 1800px;
    margin: auto;
    padding-top: 100px;

    h3 {
      font-size: 64px;
    }

    img {
      width: 50%;
    }
  }

  .customization {
    background-color: white;
    padding-top: 100px;

    h3 {
      margin-bottom: 20px;
      color: #1c315b;
      font-size: 64px;
      text-align: center;
    }
    .customizationCards {
      padding-top: 50px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      height: 1000px;
      width: 100%;
      margin: auto;
    }
  }

  .solutions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 1000px;
    width: 1800px;
    margin: auto;

    article {
      height: 300px;
      margin: 20px;

      img {
        height: 100%;
      }
    }
  }

  .customerLogos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 200px;
    width: 1800px;
    margin: auto;

    img {
      height: 100%;
    }
  }
}
