.container {
  font-family: Roboto;
  margin: auto;
  background-color: rgb(34, 68, 102);

  .intro {
    background-color: white;
    h2 {
      color: #1c315b;
      font-size: 72px;
    }

    .links {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: space-around;
      max-width: 1540px;
      margin: auto;

      a {
        background-color: grey;
        text-align: center;
        width: 467px;
        height: 151px;
        margin: 20px;
      }
    }
  }
  .investorPortal {
    justify-content: center;
    padding: 10%;

    p {
      color: white;
      font-size: 24px;
      min-width: 600px;
      width: 40%;
      line-height: 1.5em;
    }

    .investor {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      img {
        display: block;
        width: 40%;
        min-width: 600px;
        height: auto;
        align-self: center;
      }

      h3 {
        color: white;
        width: 100%;
        font-size: 72px;
        border-bottom: 2px solid #49b869;
      }
    }

    .features {
      width: 100%;
      h4 {
        color: white;
        font-size: 46px;
        border-bottom: 2px solid #49b869;
      }
    }

    .investorContact {
      width: 100%;
      background-color: lightgrey;
      text-align: center;
      justify-self: end;
      align-self: end;
    }
  }

  .products {
    width: 100%;
  }

  .featureCards {
    display: flex;
    background-color: lightcoral;
    flex-flow: row wrap;
    justify-content: center;
  }
}
