.container {
  margin: auto;
  background-color: rgb(34, 68, 102);
  color: white;

  .intro {
    background-color: white;
    h2 {
      color: #1c315b;
      font-size: 72px;
      padding-left: 10%;
    }

    /* Sticky Link menu when scrolling down past it */
    .stickyMenu {
      // Ensuring the sticky menu is on top
      z-index: 1000;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      position: fixed;
      top: -200px;
      width: 100%;
      background-color: white;
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);

      animation: slideDown 0.5s forwards;

      @keyframes slideDown {
        from {
          top: -200px;
        }
        to {
          top: 0px;
        }
      }

      button {
        border: none;
        margin: 0px 20px;

        &:hover {
          background-color: #f1f3f5;
        }
      }
    }

    .notStickyMenu {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: space-around;
      transition: all 1s;
      max-width: 70%;
      margin: auto;
    }
  }

  .investorPortal {
    padding: 0 10%;

    p {
      margin-top: 60px;
      font-size: 24px;
      min-width: 600px;
      width: 40%;
      line-height: 1.5em;
    }


    .investor {
      // This fixes scrollIntoViewIfNeeded scrolling too far
      padding-top: 100px;
      margin-top: -100px;

      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .imageContainer {
        width: 40%;
      }


      h3 {
        font-size: 64px;
        border-bottom: 2px solid #49b869;
        margin-right: 50%;
        margin-bottom: 0;
      }
    }

    .features {
      width: 100%;

      p {
        margin-top: 20px;
      }

      h4 {
        font-size: 46px;
        border-bottom: 2px solid #49b869;
        margin: 100px 80% 0px 0px;
      }
    }
  }

  .investorContact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 360px;
    background-color: lightgrey;
    text-align: center;
    margin-top: 200px;

    h4 {
      width: 100%;
      margin: 0 0 40px 0;
      color: #1c315b;
      font-size: 46px;
    }

    button {
      background-color: #1c315b;
      height: 121px;
      width: 426px;
      color: white;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: underline;
      display: inline-block;
      font-size: 26px;
    }
  }

  .productsContainer {
    width: 100%;
    margin-top: 50px;
    h4 {
      font-size: 46px;
    }
    p {
      font-size: 24px;
      min-width: 600px;
      width: 40%;
      line-height: 1.5em;
    }

    .product {
      // This fixes scrollIntoViewIfNeeded scrolling too far
      padding-top: 120px;
      margin-top: -120px;
      // ------

      display: flex;
      justify-content: center;
      padding-bottom: 50px;
    }
  }

  .featureCards {
    display: flex;
    background-color: lightcoral;
    flex-flow: row wrap;
    justify-content: center;
  }
}
