.container {
  margin: auto;
  background-color: #1c315b;
  color: white;
  .intro {
    padding-top: 100px;
    h2 {
      margin: 0;
      padding: 75px 0;
      color: #1c315b;
      font-size: 4.5rem;
      padding-left: 10%;
    }

    .hidden {
      display: none;
    }

    /* Sticky Link menu when scrolling down past it */
    .stickyMenu {
      // Ensuring the sticky menu is on top
      z-index: 1000;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      position: fixed;
      width: 100%;
      background-color: white;
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
      animation: slideDown 0.5s forwards;
      @keyframes slideDown {
        from {
          top: -200px;
        }
        to {
          top: 0px;
        }
      }
      button {
        margin: 0px 20px;
      }
    }
    .notStickyMenu {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: space-around;
      transition: all 1s;
      max-width: 70%;
      margin: auto;
    }
  }
  .investorPortal {
    .investorIntro {
      // This fixes scrollIntoViewIfNeeded scrolling too far
      padding-top: 150px;
      margin-top: -150px;
      // ------
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
      padding-bottom: 75px;

      h2 {
        padding-bottom: 50px;
      }
      p {
        width: 60%;
      }
    }

    .cardContainer {
      margin: auto;

      .feature {
        margin: auto;
        width: 80%;
        padding-bottom: 50px;
      }
    }
  }

  .productsContainer {
    padding-top: 100px;

    h2 {
      text-align: center;
      padding: 50px;
    }

    .product {
      // This fixes scrollIntoViewIfNeeded scrolling too far
      padding-top: 150px;
      margin-top: -150px;
      // ------
      margin-right: auto;
      margin-left: auto;
      width: 80%;
      padding-bottom: 50px;
    }
  }

  .servicesContainer {
    h2 {
      text-align: center;
      padding: 50px;
    }
  }
}
