@import '../../layouts/variables';

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

header.headerUnderline {
  border-bottom: 1px solid $antiFlashWhite;
}
header.headerUnderline.navColorWhite {
  border-bottom: 1px solid $lapisLazuli;
}

header.headerUnderline {
  box-shadow: $boxShadow;

  .navbar {
    height: 58px;
    .logoWrapper {
      height: 38px;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1140px;
  padding: 16px 0 10px;
  width: 100%;
  margin: 0 auto;
  nav {
    position: inherit;
    visibility: inherit;
    opacity: inherit;

    .active {
      &:before,
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:before {
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:after {
        transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
      }
    }

    a {
      padding-bottom: 0;
      position: relative;
      height: 36px;
      display: flex;
      align-items: center;

      //Animation for underlining menu
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $vibrantBlue;
      }
      &:before {
        opacity: 0;
        transform: translateY(-$distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover {
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }

  li {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;

    span {
      width: 20px;
      height: 20px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $vibrantOrange;
      color: #fff;
      text-align: center;
      margin-left: 10px;
    }

    svg {
      font-size: 2rem;
    }
  }

  li.languageSelectorDesktop,
  li.languageSelectorMobile {
    svg {
      margin: 0 10px 1px 0;
      font-size: 1.125rem;
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  a.noHover:hover {
    &:before,
    &:after {
      opacity: 0;
      transform: none;
    }
    &:before {
      transition: none;
    }
    &:after {
      transition: none;
    }
  }

  .logoWrapper {
    padding: 0;
    margin-right: auto;
    z-index: 4;

    img {
      width: 125px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .noPaddingRight {
    padding-right: 0;
  }

  .doublePadding {
    padding-right: 24px;
  }

  .borderLeft {
    border-left: 2px solid $darkBlue;
  }

  .borderRight {
    border-right: 2px solid $darkBlue;
  }

  .languageSelectorMobile {
    display: none;
  }
}

header.navColorWhite {
  background-color: $darkBlue;
}

header.navColorWhite .navbar {
  color: #fff;

  a {
    &:before,
    &:after {
      background-color: $vibrantBlue;
    }
  }

  .borderLeft {
    border-color: $vibrantBlue;
  }

  .borderRight {
    border-color: $vibrantBlue;
  }
}

@media (max-width: 1172px) {
  .navbar {
    width: 96%;
  }
}

@media (max-width: 1024px) {
  .navbar {
    .logoWrapper {
      img {
        width: 100px;
      }
    }

    li {
      span {
        width: 15px;
        height: 15px;
        font-size: 10px;
        margin-left: $XS;
      }
    }
  }
}

@media (max-width: 580px) {
  .navbar {
    width: 92%;
    .logoWrapper {
      position: relative;
      width: 88px;
      overflow: hidden;
      height: 46px;

      img {
        width: 80px;
        position: absolute;
        top: 6px;
        left: -5px;
      }
    }

    li {
      padding: 0 $XS;

      span {
        width: $XS;
        height: $XS;
        font-size: 0px;
        margin-left: $XXS;
      }
    }

    .languageSelectorMobile {
      display: list-item;
      position: relative;

      ul {
        position: absolute;
        top: 24px;
        border-radius: $XXS;
        border: 1px solid $antiFlashWhite;
        right: 0;
        background-color: #fff;
        color: $textColor;
        width: 120px;
      }

      li {
        padding: 0;
        padding: 0 $M 0 $L;

        svg {
          margin: 0 $XS 0 0;
          font-size: 14px;
          opacity: 0;
          color: $primaryGreen;
        }
      }

      li:first-of-type {
        border-bottom: 1px solid $antiFlashWhite;
      }

      li.selected {
        font-weight: 800;
        svg {
          opacity: 1;
        }
      }

      button {
        z-index: 4;
        display: block;
        border: 0;
        padding: 0;
        text-align: center;
        background-color: transparent;
        cursor: pointer;

        svg {
          margin: 0;
          color: $darkBlue;
        }
      }

      .hide {
        display: none;
      }

      .open {
        display: block;
      }
    }

    .languageSelectorDesktop {
      display: none;
    }
  }
  header.navColorWhite .navbar {
    .languageSelectorMobile {
      button {
        svg {
          color: #fff;
        }
      }
    }
  }
  header.headerUnderline {
    .navbar {
      height: 38px;
      .logoWrapper {
        height: 32px;
        margin-top: -6px;
        img {
          width: 60px;
        }
      }
    }
  }
}
