@import '../../layouts/variables';

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  box-shadow: $navbarShadow;
}

header.headerUnderline {
  box-shadow: $navbarShadow;

  .navbar {
    height: 64px;
    transition: all 200ms ease;

    li.cookie {
      top: 16px;
      right: -246px;
      transition: all 200ms ease;
    }

    li.languageSelectorDesktop {
      top: 16px;
      right: -120px;
      transition: all 200ms ease;
    }

    li.careers {
      span {
        top: 12px;
        transition: all 200ms ease;
      }
    }

    .logoWrapper {
      height: 40px;
      margin-left: -6px;
      overflow: hidden;
      transition: all 200ms ease;
      img {
        width: 96px;
        transition: all 200ms ease;
      }
    }

    .cookiePopUp,
    .cookieManager {
      right: 274px;
      top: 60px;
      .indicator {
        display: none;
      }
    }

    .cookieManager {
      .close {
        visibility: visible;
        .bar:first-of-type {
          transform: rotate(45deg);
          opacity: 1;
        }

        .bar:last-of-type {
          transform: rotate(-45deg);
          opacity: 1;
        }
      }
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  height: 104px;
  margin: 0 auto;
  color: $darkBlue;
  transition: all 200ms ease;

  nav {
    height: 100%;

    .active {
      &:after {
        transform: scaleX(1);
      }
    }

    a {
      padding-bottom: 0;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;

      //Animation for underlining menu
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        background-color: $vibrantBlue;
        transform: scaleX(0);
        transition: all 200ms ease;
      }
    }
    a:hover {
      color: $hoverColor;
    }
  }

  li {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding-left: $M;
    padding-right: $M;

    svg {
      font-size: 2rem;
    }
  }

  li.careers {
    position: relative;
    span {
      position: absolute;
      right: -18px;
      top: 30px;
      width: 17px;
      height: 17px;
      line-height: 21px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $vibrantOrange;
      color: $white;
      text-align: center;
      transition: all 200ms ease;
    }
  }

  li.languageSelectorDesktop,
  li.languageSelectorMobile {
    svg {
      margin: 0 10px 1px 0;
      font-size: 1.125rem;
    }
  }

  li.cookie {
    position: absolute;
    top: 36px;
    right: $XXL;
    height: $XL;
    padding: 0;
    transition: all 200ms ease;

    .cookieButton {
      background-color: $antiFlashWhite;
      border: 0;
      border-radius: $M;
      padding: 0 $XS;
      height: 100%;
      cursor: pointer;
    }

    .cookieButton:hover {
      svg {
        color: $vibrantBlue;
      }
    }

    svg {
      color: $darkBlue;
      margin: 0;
      font-size: 1.125rem;
    }
  }

  li.languageSelectorDesktop {
    position: absolute;
    top: 36px;
    right: 98px;
    height: $XL;
    padding: 0;
    transition: all 200ms ease;
    transition-property: padding, margin, height, right;

    a {
      background-color: $antiFlashWhite;
      border-radius: $M;
      padding: 0 $S;
      height: 100%;
    }
    a:hover {
      color: $darkBlue;
      svg {
        color: $vibrantBlue;
      }
    }
  }

  .cookieManager {
    display: none;
    position: absolute;
    top: 48px;
    right: -20px;
    width: 360px;
    color: $white;
    background-color: $darkestBlue;
    box-shadow: $navbarShadow;
    border-radius: $S;
    max-height: calc(100vh - 104px);
    transition: all 200ms ease;

    .indicator {
      position: absolute;
      transform: rotate(45deg);
      top: -9px;
      right: 26px;
      width: 20px;
      height: 20px;
      background-color: $darkestBlue;
      border-radius: 2px;
    }

    .header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    h4 {
      margin: $M auto $M $M;
      width: 50%;
    }

    .close {
      cursor: pointer;
      position: relative;
      background-color: transparent;
      padding: 0;
      border: 0;
      width: 16px;
      height: 16px;
      margin-right: 16px;
      visibility: hidden;
      transition: all 300ms linear;

      .bar {
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: $white;
        transition: all 300ms ease;
      }

      .bar:first-of-type {
        transform: rotate(0deg);
        opacity: 0;
      }

      .bar:last-of-type {
        transform: rotate(0deg);
        opacity: 0;
      }
    }

    .scrollContainer {
      overflow-y: auto;
      max-height: calc(100vh - 104px);
      padding: $M;
    }

    .save {
      display: block;
      background-color: $white;
      color: $vibrantBlue;
      padding: 0;
      border: none;
      height: 50px;
      width: 294px;
      border-radius: 6px;
      margin: $M auto;
    }
    .save:hover {
      cursor: pointer;
      background-color: $antiFlashWhite;
    }
  }

  .cookiePopUp {
    display: none;
    position: absolute;
    top: 48px;
    right: -20px;
    width: 360px;
    background-color: $darkestBlue;
    box-shadow: $navbarShadow;
    border-radius: $S;
    padding: $XL;
    transition: all 200ms ease;

    .indicator {
      position: absolute;
      transform: rotate(45deg);
      top: -9px;
      right: 26px;
      width: 20px;
      height: 20px;
      background-color: $darkestBlue;
      border-radius: 2px;
    }

    h4,
    p {
      color: $white;
    }
    p {
      padding: $M 0;
    }
    .buttonWrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      justify-content: flex-end;
      .manage {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: $white;
      }
      .understand {
        cursor: pointer;
        border: none;
        border-radius: 6px;
        background-color: $white;
        color: $vibrantBlue;
        height: 40px;
        margin-left: $XL;
        padding: 0 $M;
      }
    }
  }

  .open {
    display: block;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  .logoWrapper {
    padding: 0;
    margin: 16px auto 10px 0;
    z-index: 4;
    height: 78px;
    transition: all 200ms ease;

    img {
      width: 125px;
      transition: all 200ms ease;
    }
  }

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .noPaddingRight {
    padding-right: 0;
  }

  .doublePadding {
    padding-right: 24px;
  }

  .borderLeft {
    border-left: 2px solid $darkBlue;
  }

  .borderRight {
    border-right: 2px solid $darkBlue;
  }

  .languageSelectorMobile {
    display: none;
  }
}

.navColorWhite {
  background-color: $darkBlue;
  box-shadow: none;
}

header.navColorWhite .navbar {
  color: $white;

  li.cookie {
    .cookieButton {
      background-color: $cookieButtonDarkBackground;
      svg {
        color: $white;
      }
    }
    .cookieButton:hover {
      svg {
        color: $vibrantBlue;
      }
    }
  }
  li.languageSelectorDesktop {
    a {
      background-color: $cookieButtonDarkBackground;
    }
    a:hover {
      color: $white;
    }
  }

  a {
    &:before,
    &:after {
      background-color: $vibrantBlue;
    }
  }

  .borderLeft {
    border-color: $vibrantBlue;
  }

  .borderRight {
    border-color: $vibrantBlue;
  }
}

@media (max-width: 1680px) {
  .navbar {
    position: relative;
    li.cookie {
      position: initial;
      padding: 0 0 0 $XS;
      margin: 0;
    }
    li.languageSelectorDesktop {
      position: initial;
      padding: 0 $XS 0 64px;
    }
    .cookieManager,
    .cookiePopUp {
      top: 85px;
      right: -12px;
      .indicator {
        right: 18px;
      }
    }
  }
  header.headerUnderline {
    .navbar {
      li.cookie {
        margin-right: -434px;
        transition: all 200ms ease;
      }
      li.languageSelectorDesktop {
        margin-left: 210px;
        transition: all 200ms ease;
      }

      .cookiePopUp,
      .cookieManager {
        right: calc(30px - ((100vw - 1140px) / 2));
        top: 76px;
      }
    }
  }
}

@media (max-width: 1172px) {
  .navbar {
    width: 96%;
  }
  header.headerUnderline {
    .navbar {
      .cookiePopUp,
      .cookieManager {
        right: -12px;
        top: 85px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    height: 82px;
    .logoWrapper {
      margin: 4px auto 0 0;
      height: 64px;
      img {
        width: 100px;
      }
    }
    li.careers {
      span {
        top: 20px;
      }
    }
    .cookieManager,
    .cookiePopUp {
      top: 74px;
    }
  }

  header.headerUnderline {
    .navbar {
      li.careers {
        span {
          top: 10px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .navbar {
    li.cookie {
      position: initial;
      padding: 0 0 0 $XS;
      margin: 0;
    }
    li.languageSelectorDesktop {
      position: initial;
      padding: 0 $XS 0 $XL;
    }
  }

  header.headerUnderline {
    .navbar {
      li.cookie {
        margin-right: -193px;
      }
      li.languageSelectorDesktop {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .cookieManager,
    .cookiePopUp {
      top: 74px;
      right: 0;
      border-top-right-radius: 7px;
      .indicator {
        right: 6px;
      }
    }
  }
  header.headerUnderline {
    .navbar {
      li.cookie {
        margin-right: -170px;
      }

      .cookiePopUp,
      .cookieManager {
        right: 0px;
        top: 74px;
        border-top-right-radius: $S;
      }
    }
  }
}

@media (max-width: 580px) {
  .navbar {
    width: 92%;
    height: 48px;
    .logoWrapper {
      position: relative;
      padding: 0 20px;
      width: 88px;
      overflow: hidden;
      height: 46px;

      img {
        width: 80px;
        position: absolute;
        top: 6px;
        left: -5px;
      }
    }

    li {
      padding: 0 $XS;
    }

    li.careers {
      span {
        top: 10px;
        right: -12px;
        height: 12px;
        width: 12px;
        font-size: 8px;
      }
    }

    li.aboutUs {
      width: 45px;
      a {
        position: relative;
        overflow: hidden;
        width: 45px;
        span {
          display: flex;
          align-items: center;
          position: absolute;
          width: 56px;
          height: 100%;
        }
      }
    }

    li.cookie {
      padding-left: 4px;
      .cookieButton {
        padding: 0;
        background-color: transparent;
      }
    }

    li.languageSelectorMobile {
      display: flex;
      align-items: center;
      position: relative;
      height: 32px;
      padding: 0 $XS 0 $M;

      .ulWrapper {
        z-index: 1;
        display: none;
        position: absolute;
        top: 41px;
        border-radius: $XXS;
        border: 1px solid $antiFlashWhite;
        right: -3px;
        background-color: $white;
        color: $textColor;
        width: 120px;
        height: auto;
        box-shadow: $navbarShadow;

        .indicator {
          position: absolute;
          transform: rotate(45deg);
          top: -8px;
          right: 12px;
          width: 16px;
          height: 16px;
          background-color: $white;
          border-left: 1px solid $antiFlashWhite;
          border-top: 1px solid $antiFlashWhite;
          border-radius: 2px;
        }
      }

      ul {
        display: block;
        width: 100%;
        height: 100%;
      }

      li {
        padding: 0;
        padding: 0 $M 0 $L;
        height: 50px;

        svg {
          margin: 0 $XS 0 0;
          font-size: 14px;
          opacity: 0;
          color: $primaryGreen;
        }
      }

      li:first-of-type {
        border-bottom: 1px solid $antiFlashWhite;
      }

      li.selected {
        font-weight: 800;
        svg {
          opacity: 1;
        }
      }

      button {
        z-index: 4;
        display: block;
        border: 0;
        padding: 0 0;
        border-radius: $M;
        height: 100%;
        text-align: center;
        background-color: transparent;
        cursor: pointer;

        svg {
          margin: 0;
          color: $darkBlue;
        }
      }

      .open {
        display: block;
      }
    }

    .cookieManager,
    .cookiePopUp {
      top: 49px;
      right: -7px;
      max-height: calc(100vh - 110px);
      .scrollContainer {
        max-height: calc(100vh - 112px);
      }
    }

    .languageSelectorDesktop {
      display: none;
    }
  }
  header.navColorWhite .navbar {
    .languageSelectorMobile {
      button {
        svg {
          color: $white;
        }
      }
    }
    li.cookie {
      .cookieButton {
        background-color: transparent;
      }
    }
  }
  header.headerUnderline {
    .navbar {
      height: 38px;
      .logoWrapper {
        height: 32px;
        margin-top: -3px;
        img {
          width: 60px;
          left: 2px;
        }
      }

      .cookiePopUp,
      .cookieManager {
        right: -7px;
        top: 49px;
      }

      li.cookie {
        margin-right: -84px;
      }
      li.languageSelectorMobile {
        margin-left: 20px;
        transition: all 200ms ease;
        .ulWrapper {
          display: none;
        }
      }
      li.careers {
        span {
          top: 4px;
          right: -12px;
          height: 12px;
          width: 12px;
          font-size: 8px;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .navbar {
    .logoWrapper {
      padding: 0;
      width: 56px;
      height: 30px;

      img {
        width: 56px;
        top: 2px;
        left: -5px;
      }
    }

    .cookieManager {
      width: 308px;

      .save {
        width: 244px;
      }
    }

    .cookiePopUp {
      width: 308px;
    }
  }

  header.headerUnderline {
    .navbar {
      height: 30px;
      .logoWrapper {
        height: 30px;
        margin-top: 3px;
        img {
          width: 56px;
          left: 1px;
        }
      }

      .cookiePopUp,
      .cookieManager {
        top: 40px;
      }

      li.careers {
        span {
          top: 2px;
        }
      }
    }
  }
}
