@import '../../layouts/variables';

.perkCard {
  background-color: $white;
  border-radius: $S;
  padding: $L;
  width: 357px;
  height: 221px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 16px 16px 0 #c7d3e3;
  transition: 0.3s;
  margin-bottom: $L;
  align-items: flex-start;

  &:hover {
    transform: scale(1.08);
  }

  .header {
    display: flex;
    align-items: center;
    svg {
      font-size: 64px;
      color: $vibrantBlue;
    }

    h4 {
      margin-left: $S;
    }
  }
}
