@import '../../layouts/variables';

.perkCard {
  background-color: $white;
  padding: 30px;
  width: 286px;
  height: 186px;
  margin: 0 0 32px;
  border: 2px solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: $boxShadow;
  text-align: center;

  h4 {
    width: 100%;
    font-size: 1.375rem;
    margin: 0;
  }

  p {
    font-size: 1.125rem;
    margin: 22px 0;
  }
}

@media (min-width: 636px) {
  .perkCard {
    margin: 0 auto 64px;
  }
}
