@import '../../layouts/variables';

.perkCard {
  background-color: $white;
  border-radius: $S;
  padding: $L;
  width: 356px;
  height: 221px;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 16px 16px 0 #c7d3e3;
  transition: 0.3s;
  margin-bottom: $L;
  align-items: flex-start;
  margin: 18px;

  &:hover {
    transform: scale(1.08);
  }

  .header {
    display: flex;
    align-items: center;
    min-height: 64px;
    width: 100%;
    svg {
      font-size: 64px;
      color: $vibrantBlue;
    }

    h4 {
      margin-left: $S;
    }
  }
}

@media (max-width: 1172px) {
  .perkCard {
    width: 325px;
  }
}

@media (max-width: 1024px) {
  .perkCard {
    width: 243px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .perkCard {
    margin: 18px $XS;
  }
}

@media (max-width: 712px) {
  .perkCard {
    width: 356px;
    height: 221px;
  }
}
