@import '../../layouts/variables';

.careerPage {
  .careerOms {
    grid-column: full;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 220px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end row4-start] 120px
      [row4-end];

    h1 {
      // font-size: 72px;
      grid-column: 2 / span 8;
      grid-row: row1;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 8;
      grid-row: row2;
    }

    .imageContainer {
      grid-column: 2 / span 8;
      grid-row: row3;
      width: 100%;
      margin: 0 auto;
      box-shadow: $newBoxShadow;
    }
  }

  .whyOms {
    background-color: $antiFlashWhite;
    grid-column: full;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 120px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end row4-start] 120px
      [row4-end];

    h1 {
      // font-size: 72px;
      grid-column: 2 / span 8;
      grid-row: row1;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 8;
      grid-row: row2;
    }

    .imageContainer {
      grid-column: 2 / span 8;
      grid-row: row3;
      width: 100%;
      margin: 0 auto;
      box-shadow: $newBoxShadow;
    }
  }

  .careerPerks {
    background-color: $antiFlashWhite;
    grid-column: full;
    margin-bottom: 100px;
    padding-bottom: 68px;

    h3 {
      text-align: center;
    }
    .perkCardContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      width: 100%;
      max-width: 1422px;
      margin: 48px auto 0 auto;
    }
  }

  .careerJobVacancies {
    grid-column: main;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0 200px;

    h2 {
      width: 100%;
      text-align: center;
    }

    iframe {
      height: 164px;
      width: 496px;
      border: none;
      box-shadow: $newBoxShadow;
    }
  }
}

/* @media (min-width: 945px) {
  .careerPage {
    .careerPerks {
      .perkCardContainer {
        width: 850px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .careerPage {
    max-width: 1864px;
    padding: 0 32px;

    section {
      padding: 138px 0 138px;
    }

    section:first-of-type {
      padding-top: 275px;
    }

    section:last-of-type {
      padding-bottom: 275px;
    }

    .careerOms {
      flex-flow: row-reverse wrap;

      p {
        width: 45%;
      }

      .imageContainer {
        width: 45%;
      }
    }

    .whyOms {
      .imageContainer {
        margin-bottom: 32px;
      }
    }

    .careerPerks {
      .perkCardContainer {
        margin-top: 64px;
      }
    }

    .careerJobVacancies {
      h2 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1477px) {
  .careerPage {
    .careerPerks {
      .perkCardContainer {
        width: 1410px;
      }
    }
  }
} */
