@import '../../layouts/variables';

.careerPage {
  grid-template-rows: max-content max-content max-content max-content;

  .hero {
    grid-column: $full;
    grid-row: 1;
    display: grid;
    grid-column-gap: $gridColumnGap;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: 250px max-content;
    color: $antiFlashWhite;
    min-height: 750px;

    .textContainer {
      grid-row: 2;
      grid-column: 3 / span 6;

      h1 {
        width: 80%;
        margin: auto;
        text-align: center;
      }

      h1 + p {
        padding: $XXL 0;
      }
    }

    .backgroundImage {
      margin-top: 64px;
      position: absolute;
      z-index: -1;
      height: 750px;
      width: 100%;
      grid-column: $full;
      grid-row: 1 / span 2;

      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($darkBlue, 0.7);
      }
    }
  }

  .about {
    grid-column: 1 / span 10;
    grid-column: $full;
    grid-row: 2;
    display: grid;
    grid-column-gap: $gridColumnGap;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: max-content 100px;
    background-color: $antiFlashWhite;

    .textContainer {
      margin-top: $XXL;
      grid-column: 3 / span 6;
      grid-row: 1;

      // overline
      p:first-of-type {
        width: 156px;
        padding-bottom: $M;
        margin-bottom: $XS;
        border-bottom: 2px solid $vibrantBlue;
      }

      h2 {
        margin-top: $S;
      }

      h2 + p {
        padding: $L 0;
      }
    }
  }

  .perks {
    grid-column: $full;
    grid-row: 3;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows:
      max-content max-content max-content
      120px;

    .textContainer {
      grid-column: 2 / span 6;
      grid-row: 1;
      margin-top: $XXL;

      // overline
      p:first-of-type {
        width: 156px;
        padding-bottom: $M;
        margin-bottom: $XS;
        border-bottom: 2px solid $vibrantBlue;
      }

      h2 {
        margin-top: $S;
      }
    }

    .perkCardContainer {
      grid-row: 2;
      grid-column: $full;
      -ms-grid-column-align: center;
      justify-self: center;
      display: flex;
      flex-flow: row wrap;
      max-width: 1170px;
      margin: $XL -16px 0 -14px;
    }
  }

  .positions {
    grid-column: 1 / span 10;
    grid-row: 4;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 54px 0 87px;

    .textContainer {
      h2 {
        width: 100%;
        text-align: center;
      }

      p {
        text-align: center;
        margin-top: $M;
        margin-bottom: $L;
        width: 496px;
      }
    }

    iframe {
      height: 164px;
      width: 496px;
      border: none;
      box-shadow: $newBoxShadow;
    }

    .iframeAlt {
      margin-top: $M;
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      p {
        padding-bottom: $S;
      }

      .iframeButton {
        color: $antiFlashWhite;
        background-color: $vibrantBlue;
        border-radius: $S;
        border: none;
        width: 200px;
        height: 50px;

        &:hover {
          background-color: $primaryButtonHover;
        }
      }
    }
  }
}

@media (max-width: 1172px) {
  .careerPage {
    .about,
    .perks {
      .textContainer {
        grid-column: 3 / span 6;
        & > p:first-of-type {
          padding-bottom: $S;
        }
      }
    }

    .perks {
      .perkCardContainer {
        max-width: 73%; // ca width of 8 columns
        justify-content: center;
      }
    }

    .positions {
      background-color: $antiFlashWhite;
    }
  }
}

@media (max-width: 1024px) {
  .careerPage {
    .hero {
      color: $textColor;
      grid-template-rows: 564px max-content;

      .backgroundImage {
        height: 500px;
        z-index: 1;
        &:before {
          display: none;
        }
      }

      .textContainer {
        margin-top: $XXL;
        h1 {
          width: 100%;
          text-align: left;
        }

        h1 + p {
          padding-top: $M;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .careerPage {
    .hero,
    .about,
    .perks {
      .textContainer {
        grid-column: 2 / span 8;
      }

      .perkCardContainer {
        grid-column: 1 / span 10;
        max-width: 100%;
      }
    }

    .hero {
      grid-template-rows: 538px max-content;
      .backgroundImage {
        margin-top: 38px;
      }
    }

    .positions {
      display: none;
    }
  }
}
