.careerPage {
  max-width: 90%;
  margin: 112px auto 0 auto;

  h2 {
    margin: 0 0 16px;
  }

  section {
    padding: 32px 0;
  }

  .careerOms,
  .whyOms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 16px;
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;
  }

  .careerPerks {
    h3 {
      text-align: center;
    }
    .perkCardContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      width: 100%;
      margin: 48px auto 0 auto;
    }
  }

  .careerJobVacancies {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    iframe {
      height: 164px;
      width: 496px;
      border: none;
      box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.13);
    }
  }
}

@media (min-width: 945px) {
  .careerPage {
    .careerPerks {
      .perkCardContainer {
        width: 850px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .careerPage {
    max-width: 1864px;
    padding: 0 32px;

    section {
      padding: 138px 0 138px;
    }

    section:first-of-type {
      padding-top: 275px;
    }

    section:last-of-type {
      padding-bottom: 275px;
    }

    .careerOms {
      flex-flow: row-reverse wrap;

      p {
        width: 45%;
      }

      .imageContainer {
        width: 45%;
      }
    }

    .whyOms {
      .imageContainer {
        margin-bottom: 32px;
      }
    }

    .careerPerks {
      .perkCardContainer {
        margin-top: 64px;
      }
    }

    .careerJobVacancies {
      h2 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1477px) {
  .careerPage {
    .careerPerks {
      .perkCardContainer {
        width: 1410px;
      }
    }
  }
}
