.careerPage {
  article {
    grid-column: 1 / 5;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .careerOms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    section {
      width: 45%;
      display: flex;
      align-items: center;
    }

    img {
      width: 45%;
      height: 22em;
    }
  }

  .careerPerks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    section:nth-of-type(1) {
    }

    section:nth-of-type(2) {
    }
  }

  .careerJobVacancies {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
  }
}
