.careerPage {
  max-width: 90%;
  margin: 16px auto 0 auto;

  h2 {
    margin: 0 0 16px;
  }

  section {
    margin: 64px 0;
  }

  .careerOms,
  .whyOms {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 16px;
    }

    .imageContainer {
      width: 45%;
      height: 22em;
    }
  }

  .careerPerks {
    h3 {
      text-align: center;
    }
    .perkCardContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      width: 100%;
      margin: 48px auto 0 auto;
    }
  }

  .careerJobVacancies {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .jobVacanciesContainer {
      width: 100%;
      height: 300px;
      box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.13);
    }
  }
}

@media (min-width: 945px) {
  .careerPage {
    .careerPerks {
      .perkCardContainer {
        width: 850px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .careerPage {
    max-width: 1864px;
    padding: 0 32px;
    margin: 80px auto 0 auto;

    section {
      margin: 275px 0;
    }

    .careerOms {
      flex-flow: row-reverse wrap;

      p {
        width: 45%;
      }

      img {
        width: 45%;
      }
    }

    .whyOms {
      img {
        margin-bottom: 32px;
      }
    }

    .careerPerks {
      .perkCardContainer {
        margin-top: 64px;
      }
    }

    .careerJobVacancies {
      h2 {
        text-align: center;
      }
      .jobVacanciesContainer {
        width: 800px;
        height: 400px;
      }
    }
  }
}

@media (min-width: 1477px) {
  .careerPage {
    .careerPerks {
      .perkCardContainer {
        width: 1410px;
      }
    }
  }
}
