@import '../../layouts/variables';

.footer {
  background-color: $footerBackgroundColor;

  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: inherit;
    text-decoration: none;
  }

  ul {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  h3 {
    font-size: 1.125rem;
    margin: 18px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid $darkBlue;
  }

  .footerContainer {
    padding: 0 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .groupWebsites,
  .navigate,
  .contact {
    width: 46%;
    padding-top: 32px;

    li {
      padding-bottom: 8px;
    }

    li:last-of-type {
      padding-bottom: 0;
    }
  }

  .contact {
    width: 100%;
    padding-bottom: 32px;
  }

  .socialMedia {
    width: 100%;
    padding: 32px 0;
    border-top: 1px solid $darkBlue;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;

      li {
        margin: 0 auto;

        svg {
          font-size: 2.8125rem;
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 16px 0;
    font-size: 0.75rem;
    color: $copyrightColor;

    p {
      margin: 0;
    }
  }

  @media (min-width: 760px) {
    .footerContainer {
      padding: 0 32px;
    }

    .socialMedia {
      ul {
        width: 50%;
        margin: 0 auto;
        li {
          margin: 0 auto;
        }
      }
    }

    .groupWebsites,
    .navigate,
    .contact {
      width: 28%;
      max-width: 232px;
      padding: 32px 0;
    }

    .navigate {
      text-align: center;
    }

    .contact {
      text-align: right;
    }
  }

  @media (min-width: 1024px) {
    h3 {
      font-size: 1.5rem;
    }

    ul {
      font-size: 1.125rem;
    }

    .footerContainer {
      max-width: 1800px;
      margin: 0 auto;
    }

    .groupWebsites,
    .navigate,
    .contact {
      width: 28%;
      max-width: 296px;
      padding: 32px 0;
    }
  }
}
