@import '../../layouts/variables';

.footer {
  z-index: 2;
  background-color: $darkBlue;
  grid-column: 1 / span 10;
  color: $antiFlashWhite;

  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: $antiFlashWhite;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  h3 {
    margin: 18px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid $antiFlashWhite;
  }

  .footerContainer {
    padding: 0 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .groupWebsites,
  .navigate,
  .contact {
    width: 100%;
    padding-top: 32px;

    li {
      padding-bottom: 8px;
    }

    li:last-of-type {
      padding-bottom: 0;
    }
  }

  .contact {
    padding-bottom: 32px;
  }

  .socialMedia {
    width: 100%;
    padding: 32px 0;
    border-top: 1px solid $antiFlashWhite;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 0;

      li {
        margin: 0 auto;

        svg {
          font-size: 36px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $antiFlashWhite;
    margin-bottom: $XXS;

    .copyright {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 12px;
        margin-right: 2px;
      }
    }

    .licenses {
      padding-left: $XS;
      margin-left: $XS;
      border-left: 1px solid $antiFlashWhite;
    }
  }

  @media (min-width: 472px) {
    .groupWebsites,
    .navigate {
      width: 46%;
    }

    .groupWebsites {
      order: -2;
    }

    .navigate {
      order: -1;
    }

    .contact {
      order: 0;
      width: 100%;
    }
  }

  @media (min-width: 760px) {
    .footerContainer {
      padding: 0;
    }

    .socialMedia {
      ul {
        width: 50%;
        margin: 0 auto;
        li {
          margin: 0 auto;
        }
      }
    }

    .groupWebsites,
    .navigate,
    .contact {
      width: 30%;
      max-width: 232px;
      padding: 32px 0;
    }

    .groupWebsites {
      order: -2;
    }

    .navigate {
      text-align: center;
      order: -1;
    }

    .contact {
      text-align: right;
      order: 0;
    }
  }

  @media (min-width: 1024px) {
    .footerContainer {
      max-width: 1140px;
      margin: 0 auto;
    }

    .groupWebsites,
    .navigate,
    .contact {
      width: 28%;
      max-width: 296px;
      padding: 32px 0;
    }
  }
}

@media (max-width: 1172px) {
  .footerContainer {
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 580px) {
  .footer {
    .bottom {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .copyright {
        width: 100%;
      }

      .licenses {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
      }
    }
  }
}
