@import '../../layouts/variables';

.homePage {
  grid-template-rows: max-content max-content max-content max-content;

  .centered {
    text-align: center;
  }

  .animation {
    grid-column: $full;
    grid-row: 1;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: 30% max-content max-content max-content;
    grid-column-gap: $gridColumnGap;
    color: $antiFlashWhite;
    width: 100%;
    height: 100vh;
    background-color: $darkBlue;

    h1 {
      grid-column: $main;
      grid-row: 2;
    }

    p {
      padding: $XXL 0;
      grid-column: $main;
      grid-row: 3;
    }

    p + a {
      grid-column: $main;
      grid-row: 4;
    }
  }

  .transition {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 1140px;
    height: 576px;
    top: calc(100vh - 130px);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows: max-content auto;
    grid-column-gap: $gridColumnGap;
    align-items: center;
    color: $textColor;
    border-radius: $S;
    padding: $XXL 0;

    .socialMedia {
      color: $antiFlashWhite;
      position: absolute;
      top: -60px;
      right: 0;

      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
        padding: 0 10px;
      }

      li:last-of-type {
        padding-right: 0;
      }

      svg {
        font-size: 24px;
        color: $white;
      }
    }

    .first,
    .second,
    .third {
      margin: 0 auto;
    }

    .first {
      grid-column: 2 / span 2;
      grid-row: 1;
      width: 135px;
      align-self: end;
    }

    .second {
      grid-column: 4 / span 2;
      grid-row: 1;
      width: 280px;
      align-self: end;
    }

    .third {
      grid-column: 6 / span 4;
      grid-row: 1;
      height: 96px;
      width: 400px;
      display: flex;
      align-items: flex-end;
    }

    .customerLogos {
      z-index: 2;
      grid-column: 2 / span 8;
      grid-row: 2;
      width: 93%;
      margin: $XL auto 0;
      height: 350px;

      .imageContainer {
        width: 28%;
        max-width: 286px;
      }
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 81%;
      bottom: 0;
      left: 0;
      border-radius: $S;
      box-shadow: $newBoxShadow;
      z-index: 0;
    }
  }

  .blueText {
    color: $vibrantBlue;
  }

  .investorPortal {
    color: $textColor;
    grid-column: $full;
    grid-row: 2;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows:
      624px max-content max-content max-content
      max-content max-content max-content max-content
      max-content max-content;
    grid-column-gap: $gridColumnGap;
    align-items: center;
    background-color: $antiFlashWhite;

    h1 {
      grid-column: 2 / span 3;
      grid-row: 3;
      width: 102%;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 3;
      grid-row: 4;
    }

    a {
      grid-column: 2 / span 2;
      grid-row: 5;
    }

    .investorPortalImagesWrapper {
      grid-column: 6 / span 5;
      grid-row: 2 / span 5;
      overflow: hidden;
      border-radius: $M;

      .imageContainer {
        width: 147%;
        border-radius: $M;
        img {
          border-radius: $M;
        }
      }
    }

    .subHeader1 {
      padding-top: 100px;
      grid-column: $main;
      grid-row: 7;
    }

    .subHeader1 + p {
      padding: $XL 0 $XXL 0;
      grid-column: 4 / span 4;
      grid-row: 8;
    }

    .customizationCards {
      padding: 0 0 192px 0;
      grid-column: $main;
      grid-row: 9;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    section:last-of-type {
      grid-column: $full;
      grid-row: 10;
    }
  }

  .irModules {
    grid-column: $full;
    grid-row: 3;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows:
      max-content max-content max-content max-content
      max-content;
    grid-column-gap: $gridColumnGap;
    padding-top: 152px;

    h1 {
      grid-column: 2 / span 3;
      grid-row: 2;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 3;
      grid-row: 3;
    }

    a {
      grid-column: 2 / span 2;
      grid-row: 4;
    }

    .imageContainer {
      grid-column: 5 / span 6;
      grid-row: 1 / span 5;
      max-width: 880px;
      width: 86%;
      align-self: end;
      margin: 0 20px 0 100px;
      box-shadow: $newBoxShadow;
      border-radius: $M;
      margin-bottom: -24px;
      img {
        border-radius: $M;
      }
    }
  }

  .arena {
    position: relative;
    z-index: 1;
    grid-column: $full;
    grid-row: 4;
    display: grid;
    grid-template-columns: $gridColumnTemplate;
    grid-template-rows:
      max-content max-content max-content max-content
      max-content;
    grid-column-gap: $gridColumnGap;
    background-color: $antiFlashWhite;
    padding-top: 152px;

    h1 {
      grid-column: 7 / span 3;
      grid-row: 2;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 7 / span 3;
      grid-row: 3;
    }

    a {
      grid-column: 7 / span 2;
      grid-row: 4;
    }

    .imageContainer {
      grid-column: 1 / span 6;
      grid-row: 1 / span 5;
      max-width: 880px;
      width: 86%;
      align-self: end;
      justify-self: end;
      -ms-grid-column-align: end;
      margin: 0 100px 0 20px;
      box-shadow: $newBoxShadow;
      border-radius: $M;
      margin-bottom: -24px;
      img {
        border-radius: $M;
      }
    }
  }
}

@media (max-width: 1172px) {
  .homePage {
    .transition {
      width: 97%;
    }

    .investorPortal {
      grid-template-rows:
        624px max-content max-content max-content
        max-content max-content max-content max-content
        max-content;
      h1 {
        grid-column: 3 / span 5;
        grid-row: 2;
      }

      h1 + p {
        grid-column: 3 / span 5;
        grid-row: 3;
      }

      p + a {
        grid-column: 3 / span 5;
        grid-row: 5;
        margin-top: $XL;
        margin-bottom: 100px;
      }

      .investorPortalImagesWrapper {
        grid-column: 3 / span 6;
        grid-row: 4;
        margin: 0 -14px;

        .imageContainer {
          width: 100%;
        }
      }

      .subHeader1 {
        padding-top: 0;
        grid-row: 6;
      }

      .subHeader1 + p {
        grid-row: 7;
      }

      .customizationCards {
        grid-row: 8;
      }

      section:last-of-type {
        grid-row: 9;
      }
    }

    .irModules,
    .arena {
      grid-template-rows: max-content max-content max-content max-content;

      h1 {
        grid-column: 3 / span 5;
        grid-row: 1;
      }

      h1 + p {
        grid-column: 3 / span 5;
        grid-row: 2;
      }

      a {
        grid-column: 3 / span 5;
        grid-row: 3;
      }

      .imageContainer {
        grid-column: 3 / span 6;
        grid-row: 4;
        width: 100%;
        margin: $XXL 0 -24px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .homePage {
    .transition {
      .first {
        width: 114px;
      }
      .second {
        width: 236px;
      }
      .third {
        width: 358px;
      }
    }

    .investorPortal {
      grid-template-rows:
        574px max-content max-content max-content
        max-content max-content max-content max-content
        max-content;

      .customizationCards {
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 120px;
      }
    }

    .irModules,
    .arena {
      padding-top: 76px;
    }
  }
}

@media (max-width: 950px) {
  .homePage {
    .transition {
      grid-template-rows: max-content max-content auto;

      .first {
        grid-column: 3 / span 3;
        grid-row: 1;
        justify-self: flex-start;
        -ms-grid-column-align: start;
        margin: 0;
      }

      .second {
        grid-column: 6 / span 3;
        grid-row: 1;
        justify-self: flex-end;
        -ms-grid-column-align: end;
        margin: 0;
      }

      .third {
        grid-column: 3 / span 6;
        grid-row: 2;
        margin: $XL auto;
        height: auto;
        width: 100%;
      }

      .customerLogos {
        grid-row: 3;
        margin: 0 auto 0;
        height: 325px;
      }
    }

    .investorPortalImagesWrapper {
      margin: 0 -10px;
    }

    .irModules,
    .arena {
      .imageContainer {
        margin-bottom: -16px;
      }
    }
  }
}

@media (max-width: 767px) {
  .homePage {
    .investorPortal {
      p + a {
        margin-top: 48px;
      }

      .investorPortalImagesWrapper {
        box-shadow: $newBoxShadow;
        margin: 0;
      }
    }
    .irModules,
    .arena {
      .imageContainer {
        margin-bottom: -10px;
      }
    }
  }
}

@media (max-width: 580px) {
  .homePage {
    .animation {
      grid-template-rows: 17% max-content max-content max-content;
    }

    .transition {
      height: 460px;

      .socialMedia {
        top: -36px;
      }

      .first {
        width: 104px;
      }

      .second {
        width: 168px;
      }

      .customerLogos {
        height: 200px;
      }
    }

    .investorPortal {
      grid-template-rows:
        394px max-content max-content max-content
        max-content max-content max-content max-content
        max-content;

      h1 {
        grid-column: $main;
      }

      h1 + p {
        grid-column: $main;
      }

      p + a {
        grid-column: $main;
      }

      .investorPortalImagesWrapper {
        grid-column: 2 / span 8;
        .imageContainer:last-of-type {
          margin-right: $M;
        }
      }

      .subHeader1 + p {
        grid-column: 3 / span 6;
      }
    }

    .irModules,
    .arena {
      h1 {
        grid-column: $main;
      }

      h1 + p {
        grid-column: $main;
      }

      a {
        grid-column: $main;
      }

      .imageContainer {
        grid-column: $main;
      }
    }
  }
}

@media (max-width: 450px) {
  .homePage {
    .transition {
      .first {
        grid-column: 2 / span 3;
      }

      .second {
        grid-column: 7 / span 3;
      }

      .third {
        grid-column: 2 / span 8;
      }
    }
  }
}

@media (max-width: 374px) {
  .homePage {
    .animation {
      grid-template-rows: 13% max-content max-content max-content;

      p {
        padding: $L 0;
      }
    }

    .transition {
      height: 432px;
      padding: $XL 0;

      .first {
        margin: 0;
      }

      .third {
        width: 278px;
        margin: $L 0 0 0;
      }
    }
  }
}
