@import '../../layouts/variables';

.homePage {
  .centered {
    text-align: center;
  }

  .animation {
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 30%
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end];
    grid-column-gap: 16px;
    color: $antiFlashWhite;
    width: 100%;
    height: 100vh;
    background-color: $darkBlue;

    h1 {
      grid-column: main;
      grid-row: row1;
    }

    p {
      padding: $XXL 0;
      grid-column: main;
      grid-row: row2;
    }

    button {
      grid-column: 2 / span 8;
      grid-row: row3;
      background-color: $vibrantBlue;
      border: none;
      border-radius: 90px;
      color: $antiFlashWhite;
      height: 80px;
      width: 273px;
      margin: 0 auto;
      cursor: pointer;
    }
    button:hover {
      background-color: $primaryButtonHover;
    }
  }

  .transition {
    z-index: 1;
    position: absolute;
    width: 100%;
    max-width: 1140px;
    height: 576px;
    top: calc(100vh - 130px);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $white;
    display: grid;
    grid-template-columns:
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end];
    grid-template-rows:
      [row1-start] fit-content(100%)
      [row1-end row2-start] auto
      [row2-end];
    grid-column-gap: 16px;
    align-items: center;
    color: $textColor;
    border-radius: $S;
    padding: $XXL 0;

    .socialMedia {
      color: $antiFlashWhite;
      position: absolute;
      top: -60px;
      right: 0;

      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
        padding: 0 10px;
      }

      li:last-of-type {
        padding-right: 0;
      }

      svg {
        font-size: 24px;
        color: $white;
      }
    }

    .first,
    .second,
    .third {
      margin: 0 auto;
    }

    .first {
      grid-column: 1 / span 2;
      grid-row: row1;
      width: 135px;
      align-self: end;
    }

    .second {
      grid-column: 3 / span 2;
      grid-row: row1;
      width: 272px;
      align-self: end;
    }

    .third {
      grid-column: 5 / span 4;
      grid-row: row1;
      width: 400px;
      align-self: end;
    }
  }

  .transition:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 81%;
    bottom: 0;
    left: 0;
    border-radius: $S;
    box-shadow: $newBoxShadow;
    z-index: 0;
  }

  .customerLogos {
    z-index: 2;
    grid-column: 1 / span 8;
    grid-row: row2;
    width: 93%;
    margin: $XL auto 0;
    height: 100%;

    .imageContainer {
      width: 28%;
      max-width: 286px;
    }
  }

  .blueText {
    color: $vibrantBlue;
  }

  .investorPortal {
    color: $textColor;
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 624px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end row4-start] fit-content(100%)
      [row4-end row5-start] fit-content(100%)
      [row5-end row6-start] fit-content(100%)
      [row6-end row7-start] fit-content(100%)
      [row7-end row8-start] fit-content(100%)
      [row8-end row9-start] fit-content(100%)
      [row9-end row10-start]fit-content(100%)
      [row10-end row11-start] fit-content(100%)
      [row11-end];
    grid-column-gap: 16px;
    align-items: center;
    height: 2578px;
    background-color: $antiFlashWhite;

    h1 {
      grid-column: 2 / span 3;
      grid-row: row1;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 3;
      grid-row: row2;
    }

    a {
      grid-column: 2 / span 2;
      grid-row: row3;
    }

    .investorPortalImagesWrapper {
      grid-column: 6 / span 5;
      grid-row: 2 / span 3;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      margin-left: -20px;

      .imageContainer {
        display: inline-block;
        max-width: 620px;
        width: 86%;
        box-shadow: 0px -14px 24px 0 #c7d3e3;
        margin: 0 $XXL 0 $XXL;
      }
      .imageContainer:first-of-type {
        margin-left: 20px;
      }
    }

    .tickerTape {
      height: 100%;
      grid-column: 6 / span 5;
      grid-row: row4;
      padding: $XXL 0 100px 0;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      .imageContainer {
        width: 1447px;
        display: inline-block;
      }
    }

    .subHeader1 {
      grid-column: 2 / span 8;
      grid-row: row6;
    }

    .subHeader1 + p {
      padding: $XXL 0;
      grid-column: 4 / span 4;
      grid-row: row7;
    }

    .customizationCards {
      padding: 0 0 192px 0;
      grid-column: 2 / span 8;
      grid-row: row8;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .subHeader2 {
      grid-column: 2 / span 8;
      grid-row: row9;
    }

    .subHeader2 + p {
      padding: $XXL 0;
      grid-column: 2 / span 8;
      grid-row: row10;
    }

    .integrationLogos {
      grid-column: 1 / span 10;
      grid-row: row11;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      .imageContainer {
        width: 18%;
        max-width: 300px;
      }
    }
  }

  .arena {
    color: $textColor;
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 220px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end row4-start] 120px
      [row4-end];
    grid-column-gap: 16px;

    h1 {
      grid-column: 2 / span 3;
      grid-row: row1;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 2 / span 3;
      grid-row: row2;
    }

    a {
      grid-column: 2 / span 2;
      grid-row: row3;
    }

    .imageContainer {
      grid-column: 5 / span 6;
      grid-row: 1 / span 5;
      max-width: 880px;
      width: 86%;
      align-self: end;
      margin: 0 20px 0 100px;
      box-shadow: $newBoxShadow;
    }
  }

  .irModules {
    z-index: 1;
    color: $textColor;
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr)
      [main-start] repeat(8, minmax(0, 128.5px))
      [main-end] minmax(0, 1fr)
      [full-end];
    grid-template-rows:
      [emptySpace-start] 220px
      [emptySpace-end row1-start] fit-content(100%)
      [row1-end row2-start] fit-content(100%)
      [row2-end row3-start] fit-content(100%)
      [row3-end row4-start] 120px
      [row4-end];
    grid-column-gap: 16px;
    background-color: $antiFlashWhite;

    h1 {
      grid-column: 7 / span 3;
      grid-row: row1;
    }

    h1 + p {
      padding: $XL 0;
      grid-column: 7 / span 3;
      grid-row: row2;
    }

    a {
      grid-column: 7 / span 2;
      grid-row: row3;
    }

    .imageContainer {
      grid-column: 1 / span 6;
      grid-row: 1 / span 5;
      max-width: 880px;
      width: 86%;
      align-self: end;
      justify-self: end;
      margin: 0 100px 0 20px;
      box-shadow: $newBoxShadow;
    }
  }
}

@media (max-width: 1172px) {
  .homePage {
    .transition {
      width: 97%;
    }

    .investorPortal {
      height: 2778px;

      h1 {
        grid-column: 3 / span 5;
      }

      h1 + p {
        grid-column: 3 / span 5;
      }

      p + a {
        grid-column: 3 / span 5;
        grid-row: row5;
        margin-bottom: 100px;
      }
      .investorPortalImagesWrapper {
        height: 340px;
        grid-column: 3 / span 8;
        grid-row: row3;

        .imageContainer {
          max-width: 480px;
          width: 86%;
          box-shadow: $newBoxShadow;
          margin: 0 $XXL 0 $XXL;
        }
      }

      .tickerTape {
        grid-column: 3 / span 8;
        grid-row: row4;
        padding: $XS 0 $XL 0;
      }
    }

    .arena,
    .irModules {
      grid-template-rows:
        [row1-start] fit-content(100%)
        [row1-end row2-start] fit-content(100%)
        [row2-end row3-start] fit-content(100%)
        [row3-end row4-start] fit-content(100%)
        [row4-end];

      h1 {
        grid-column: 3 / span 5;
        grid-row: row1;
        margin-top: 100px;
      }

      h1 + p {
        grid-column: 3 / span 5;
        grid-row: row2;
      }

      a {
        grid-column: 3 / span 5;
        grid-row: row3;
      }

      .imageContainer {
        grid-column: 3 / span 6;
        grid-row: row4;
        width: 100%;
        margin: $XXL 0 0 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .homePage {
    .animation {
      button {
        height: 50px;
        width: 180px;
      }
    }

    .transition {
      .first {
        width: 114px;
      }
      .second {
        width: 224px;
      }
      .third {
        width: 358px;
      }
    }

    .investorPortal {
      height: 3048px;
      .investorPortalImagesWrapper {
        height: 240px;

        .imageContainer {
          max-width: 332px;
          width: 86%;
          margin: 0 $XXL 0 $XXL;
        }
      }

      .tickerTape {
        .imageContainer {
          width: 1000px;
        }
      }
      .customizationCards {
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 120px;
      }
    }
  }
}

@media (max-width: 950px) {
  .homePage {
    .transition {
      grid-template-rows:
        [row1-start] fit-content(100%)
        [row1-end row2-start] fit-content(100%)
        [row2-end row3-start] auto
        [row3-end];

      .first {
        grid-column: 1 / span 4;
        grid-row: row1;
      }

      .second {
        grid-column: 5 / span 4;
        grid-row: row1;
      }

      .third {
        grid-column: 1 / span 8;
        grid-row: row2;
        margin: $XL auto;
      }

      .customerLogos {
        grid-row: row3;
        margin: 0 auto 0;
      }
    }
    .investorPortal {
      height: 3138px;
      .integrationLogos {
        flex-flow: row wrap;
        .imageContainer {
          width: 26%;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .homePage {
    .animation {
      grid-template-rows:
        [emptySpace-start] 15%
        [emptySpace-end row1-start] fit-content(100%)
        [row1-end row2-start] fit-content(100%)
        [row2-end row3-start] fit-content(100%)
        [row3-end];
    }

    .transition {
      height: 460px;

      .first {
        width: 104px;
      }

      .second {
        grid-column: 4 / span 5;
        width: 168px;
      }

      .third {
        width: 320px;
      }
    }

    .investorPortal {
      height: 3044px;
      grid-template-rows:
        [emptySpace-start] 400px
        [emptySpace-end row1-start] fit-content(100%)
        [row1-end row2-start] fit-content(100%)
        [row2-end row3-start] fit-content(100%)
        [row3-end row4-start] fit-content(100%)
        [row4-end row5-start] fit-content(100%)
        [row5-end row6-start] fit-content(100%)
        [row6-end row7-start] fit-content(100%)
        [row7-end row8-start] fit-content(100%)
        [row8-end row9-start] fit-content(100%)
        [row9-end row10-start]fit-content(100%)
        [row10-end row11-start] fit-content(100%)
        [row11-end];

      h1 {
        grid-column: 2 / span 8;
      }

      h1 + p {
        grid-column: 2 / span 8;
      }

      p + a {
        grid-column: 2 / span 8;
      }

      .investorPortalImagesWrapper {
        grid-column: 2 / span 9;
        .imageContainer:last-of-type {
          margin-right: $M;
        }
      }
      .tickerTape {
        grid-column: 2 / span 9;
        padding: 0 0 $XL 0;
      }

      .subHeader1 + p {
        grid-column: 3 / span 6;
      }

      .integrationLogos {
        .imageContainer {
          width: 44%;
        }
      }
    }

    .arena,
    .irModules {
      h1 {
        grid-column: 2 / span 8;
      }

      h1 + p {
        grid-column: 2 / span 8;
      }

      a {
        grid-column: 2 / span 8;
      }

      .imageContainer {
        grid-column: 2 / span 8;
      }
    }
  }
}
