/* Very temporary css */
@import '../../layouts/variables';

.homePage {
  margin: 0;
  padding: 0;
  background-color: $darkBlue;
  color: white;

  .animation {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .imageContainer {
      width: 100%;
      height: 100%;
    }
    .scrollButton {
      z-index: 2;
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 20px;
      left: 50%;
      margin: 0px -25px;
      background-color: white;
      border-radius: 50px;
      text-align: center;
      svg {
        color: #b2cfae;
        margin-top: 10px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(0.99);
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  .configurationLogos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;

    .imageContainer {
      width: 10%;
    }
  }

  .featuredCase {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 1800px;
    margin: auto;
    padding: 100px 0;

    h2 {
      width: 50%;
      margin-top: 0;
      text-align: left;
    }

    p {
      width: 50%;
    }

    .imageContainer {
      width: 50%;
    }
  }

  .customization {
    background-color: white;
    padding: 100px 0;

    h2 {
      margin-bottom: 20px;
      color: $darkBlue;
      text-align: center;
    }
    .customizationCards {
      padding: 50px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      margin: auto;
    }
  }

  .solutions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 100px 0;

    .solution {
      background-color: #f1f3f5;
      height: 600px;
      width: 800px;
      margin: 20px;

      .imageContainer {
        height: 50%;
      }

      h4 {
        background-color: #224466;
        margin-bottom: 20px;
        font-size: 2.8rem;
        padding-left: 20px;
        border-bottom: solid green;
      }

      p {
        margin: 0;
        padding: 20px;
        color: $darkBlue;
      }
    }
  }

  .news {
    background-color: white;
    padding: 50px 0px;

    h2 {
      width: 100%;
      text-align: center;
      color: $darkBlue;
    }

    .cardContainer {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      color: $darkBlue;
      padding: 50px;

      a {
        flex: 0 0 auto;
        margin: 20px;
      }
    }
  }

  .customerLogos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: white;

    .imageContainer {
      width: 10%;
    }
  }
}
