@import '../../layouts/variables';

.sectionHeader {
  text-align: center;
  margin-top: 96px;

  h1 + p {
    padding: $XL 0;
  }

  p + p {
    padding: 0 80px;
  }
}

@media (max-width: 580px) {
  .sectionHeader {
    p + p {
      padding: 0;
      text-align: left;
    }
  }
}

@media (max-width: 374px) {
  .sectionHeader {
    h1 {
      width: 101%;
    }
  }
}
