@import '../../layouts/variables';

.newsCard {
  position: relative;
  overflow: hidden; // Hides overflow in rounded corners
  border-radius: 10px;
  transition: transform 0.2s;
  display: flex;
  flex-flow: row wrap;
  height: 300px;
  width: 500px;
  background-color: lightblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.01);
  }

  .imageContainer {
    height: 100%;
    width: 100%;
  }

  .overlay {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    color: white;

    .textContainer {
      align-self: flex-end;

      .dateString {
        font-size: 0.8rem;
      }

      h3 {
        padding-bottom: 20px;
      }

      .description {
        font-size: 1.2rem;
      }
    }
  }

  .stickyMark {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
  }
}
