@import '../../layouts/variables';

.newsCard {
  position: relative;
  transition: transform 0.2s;
  display: flex;
  flex-flow: row wrap;
  height: 400px;
  width: 500px;
  background-color: lightblue;
  &:hover {
    transform: scale(1.01);
  }

  .imageContainer {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .textContainer {
    position: absolute;
    align-self: flex-end;
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    h3,
    p {
      padding: 20px;
      color: white;
    }
  }
}
