// COLORS
$darkBlue: rgb(31, 48, 91);
// $darkBlue: #1c315b;
// $darkBlue: #253866;
$darkestBlue: #081736;
$vibrantBlue: #0080ff;
$primaryButtonHover: #0066d4;
$lightBlue: #cce6ff;
$lapisLazuli: #2b5686;
$hoverColor: #a0b5d0;
$cookieButtonDarkBackground: rgba(255, 255, 255, 0.1);
$vibrantOrange: #ff620d;
$selectiveYellow: #ffbb07;
$safetyOrange: #ff620d;
$primaryGreen: #1ed688;
$lightGrey: #bdbdbd;
$grey: #424242;
$dimGrey: #616161;
$textColor: #212121;
$antiFlashWhite: #f0f3f8;
$white: #fff;
$footerBackgroundColor: #f1f3f5;
$copyrightColor: #808080;

// BOX-SHADOW
$navbarShadow: 0 8px 10px 1px rgba(77, 111, 158, 0.14),
  0 3px 14px 2px rgba(77, 111, 158, 0.12),
  0 5px 5px -3px rgba(77, 111, 158, 0.2);
$boxShadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.13);
$newBoxShadow: 0 16px 24px 0 #c7d3e3;

// SPACING
$XXS: 4px;
$XS: 8px;
$S: 12px;
$M: 16px;
$L: 24px;
$XL: 32px;
$XXL: 48px;

// FONT-WEIGHTS
$thin: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// GRID
$gridColumnTemplate: minmax(0, 1fr) repeat(8, minmax(0, 128.5px)) minmax(0, 1fr);
$gridColumnGap: 16px;
$full: 1 / span 10;
$main: 2 / span 8;
