@import '../layouts/variables';

html {
  overflow-y: initial;

  body {
    color: $darkBlue;
    margin: 0;

    main {
      // overflow: hidden;

      h2,
      h3 {
        width: 100%;
      }
    }

    ul {
      margin-left: 0;
    }
  }
}

@media (min-width: 1024px) {
  main {
    h2 {
      font-size: 2.25rem;
    }
    p {
      font-size: 1.375rem;
    }
  }
}
