.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

li {
  padding: 0 2rem 1rem 0;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar .container {
  display: flex;
  flex-flow: row nowrap;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}
